.footer {
    padding: 20px;
    text-align: center;
    color: #6c757d;
    width: 100%;
    bottom: -80px;
    position: absolute
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}